{@java.lang.String name}
{@java.time.LocalDate  startDate}
{@java.time.LocalDate endDate}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservation Resource</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.5"></script>
</head>

<body>
<header>
  <h1>Reservations</h1>
  <p>For logged-in user: {name}</p>
  <a href="/logout">Log out</a>
</header>

<h2>List of reservations</h2>
<div id="reservations" hx-get="/get" hx-trigger="load"></div>
</body>
</html>
